<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Orpe Consultants</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Phoenixcoded">
	<meta name="keywords"
		content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="Phoenixcoded">
	<!-- Favicon icon -->

	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700" rel="stylesheet">
	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	<!-- Date-time picker css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
	<!-- themify-icons line icon -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
	<!-- ico font -->
	<link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
	<!-- flag icon framework css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/flag-icon/flag-icon.min.css">
	<!-- Menu-Search css -->
	<link rel="stylesheet" type="text/css" href="/assets/pages/menu-search/css/component.css">
	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/linearicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/ionicons.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<style>
		.row-select {
			transform: scale(1.1);
			cursor: pointer;
		}
	</style>

</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div></div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo" navbar-theme="theme4">
						<a class="mobile-menu" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a>
						<a href="#!">
							<img class="img-fluid" src="/assets/images/logo.png" alt="Theme-Logo" />
						</a>
						<a class="mobile-options">
							<i class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<div>
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
									</div>
								</li>
								<li>
									<a class="main-search morphsearch-search" href="#">
										<!-- themify icon -->
										<i class="ti-search"></i>
									</a>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="ti-fullscreen"></i>
									</a>
								</li>

							</ul>


							<ul class="nav-right">
								<!--<li>-->
								<!--<a href="#" class="btn btn-primary">Upgrade To Pro</a>-->
								<!--</li>-->



								<li class="user-profile header-notification" th:if="${session.loggedInUser != null}">
									<a href="#!">
										<img th:src="@{/assets/images/user.png}" alt="User-Profile-Image">
										<span th:text="${session.loggedInUser.username}">Username</span>
										<i class="ti-angle-down"></i>
									</a>
									<ul class="show-notification profile-notification">
										<li>
											<a href="#!">
												<i class="ti-settings"></i> Settings
											</a>
										</li>
										<li>
											<a th:href="@{/user-profile}">
												<i class="ti-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="#!">
												<i class="ti-email"></i> My Messages
											</a>
										</li>
										<li>
											<a th:href="@{/auth-lock-screen}">
												<i class="ti-lock"></i> Lock Screen
											</a>
										</li>
										<li>
											<a th:href="@{/logout}">
												<i class="ti-layout-sidebar-left"></i> Logout
											</a>
										</li>
									</ul>
								</li>

								<!-- Show login/register buttons when user is not logged in -->


							</ul>

						</div>
					</div>
				</div>
			</nav>


			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<nav class="pcoded-navbar">
						<div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
						<div class="pcoded-inner-navbar main-menu">

							<div class="pcoded-navigatio-lavel">Main</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-trigger ">
									<a th:href="@{/index}">
										<span class="pcoded-micon"><i class="ti-comments"></i></span>
										<span class="pcoded-mtext">Dashboard</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
										<span class="pcoded-mtext">All Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="  ">
											<a th:href="@{/importdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Import</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/exportdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Export</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/bomdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/bomclaimdata/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">BOM 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/worksheets/claims/list}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class=" ">
											<a th:href="@{/sb-consumption/groups}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>





									</ul>
								</li>
								<li class="pcoded-hasmenu active">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="ti-crown"></i></span>
										<span class="pcoded-mtext">Advance Calculations</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class=" ">
											<a th:href="@{/worksheet/importdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Worksheet</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/sbwiseqtyconsumption/bomclaimdata/select}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise Qty Consumption</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class=" ">
											<a th:href="@{/dbkcalculation/dataselect}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">SB wise DBK Calculation</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
									</ul>
								</li>

							</ul>
							<div class="pcoded-navigatio-lavel">Data Import </div>



							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/exceldataimport}">
										<span class="pcoded-micon"><i class="ti-receipt"></i></span>
										<span class="pcoded-mtext">Excel</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>
							<div class="pcoded-navigatio-lavel">Chart And Reports</div>
							<ul class="pcoded-item pcoded-left-item">
								<li>
									<a th:href="@{/export/all-zip}">
										<span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
										<span class="pcoded-mtext">Download Data</span>
										<span class="pcoded-mcaret"></span>
									</a>
								</li>
							</ul>


							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-cloud-download"></i></span>
										<span class="pcoded-mtext">Reports</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">

										<li class="">
											<a href="auth-sign-in-social.html" target="_blank">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Report 1</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>

										<li class="">
											<a href="auth-sign-up-social.html" target="_blank">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Report 2</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a href="auth-reset-password.html" target="_blank">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Report 3</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>


									</ul>
								</li>
							</ul>
							<div class="pcoded-navigatio-lavel">Other</div>
							<ul class="pcoded-item pcoded-left-item">
								<li class="pcoded-hasmenu ">
									<a href="javascript:void(0)">
										<span class="pcoded-micon"><i class="icofont icofont-businessman"></i></span>
										<span class="pcoded-mtext">User</span>
										<span class="pcoded-mcaret"></span>
									</a>
									<ul class="pcoded-submenu">
										<li class="">
											<a th:href="@{/register}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">Add User</span>
												<span class="pcoded-mcaret"></span>
											</a>
										</li>
										<li class="">
											<a th:href="@{/users}">
												<span class="pcoded-micon"><i class="ti-angle-right"></i></span>
												<span class="pcoded-mtext">User List</span>
												<span class="pcoded-mcaret"></span>
											</a>

										</li>


									</ul>
								</li>
							</ul>

						</div>
					</nav>
					<div class="pcoded-content">
						<div class="pcoded-inner-content">

							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-header">
										<div class="page-header-title">
											<h3>Sb Wise DBK Calculation</h3>
											<span>List of all exported materials</span>
										</div>
										<div class="page-header-breadcrumb">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a th:href="@{/index}">
														<i class="icofont icofont-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item"><a th:href="@{/}">DBK Calculation</a>
												</li>
												<li class="breadcrumb-item"><a href="#!">Edit</a>
												</li>

											</ul>
										</div>
									</div>
									<div class="page-body">
										<!-- Profile Header Section (unchanged) -->

										<div class="row">
											<div class="col-xs-12 col-sm-12 col-lg-12">


												<div class="card">
													<!-- personal card start -->
													<div class="card-header">
														<h5>DBK Calculation</h5>
														<span>Edit Selected Data</span>
														<div class="card-header-right">
															<i class="icofont icofont-rounded-down"></i>
															<a th:href="@{/}">

															</a>
														</div>
													</div>
													<div class="card-block table-border-style">
														<div class="d-flex justify-content-end">

														</div>





														<!-- Data Table style="max-height: 520px; overflow:auto;" -->
														<div class="table-responsive"
															style="max-height: 520px; overflow:auto;">

															<table id="calculationTable"
																class="table table-hover table-sm table-bordered">
																<thead class="table-light sticky-top"
																	style="background-color:#fff; z-index:1020;">
																	<tr>
																		<th>SL NO</th>
																		<th>Port Code</th>
																		<th>Shipping Bill No</th>
																		<th>Date</th>
																		<th>LEO Date</th>
																		<th>Description of Export product</th>
																		<th>QUANTITY</th>
																		<th>UNIT</th>
																		<th>DBK SNO.</th>
																		<th>FOB Value</th>
																		<th>PMV Value</th>
																		<th>Imp Quantity</th>
																		<th>Consumption for 1 Exp.Qty</th>
																		<th>Total Duty</th>
																		<th>Total CIF Value</th>
																		<th>DBK Amt</th>
																		<th>CIF Value</th>
																		<th>AIR Rate</th>
																		<th>Air Amount</th>
																		<th>SBR</th>
																		<th>4/5 of BRoD(Main Claim)</th>
																		<th>Diff BRoD - AIR</th>
																		<th>Value addition</th>
																	</tr>
																</thead>

																<tbody>
																	<tr
																		th:if="${calculationRows == null || #lists.isEmpty(calculationRows)}">
																		<td colspan="23" class="text-center text-muted">
																			No records found.</td>
																	</tr>

																	<tr th:each="row, stat : ${calculationRows}">
																		<!-- SL NO -->
																		<td class="text-center"
																			th:text="${stat.index + 1}">1</td>

																		<td data-col="portCode" contenteditable="true"
																			th:text="${row.portCode}">Port Code</td>
																		<td data-col="sbNo" contenteditable="true"
																			th:text="${row.shippingBillNo}">SB No</td>
																		<td data-col="sbDate" contenteditable="true"
																			th:text="${row.shippingBillDate != null ? #temporals.format(row.shippingBillDate, 'dd-MM-yyyy') : ''}">
																			Date</td>
																		<td data-col="leoDate" contenteditable="true"
																			th:text="${row.leoDate != null ? #temporals.format(row.leoDate, 'dd-MM-yyyy') : ''}">
																			LEO</td>
																		<td data-col="description"
																			contenteditable="true"
																			th:text="${row.exportDescription}">
																			Description</td>

																		<td class="text-end" data-col="quantity"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.quantity, 1, 'COMMA', 2, 'POINT')}">
																			Qty</td>

																		<td data-col="unit" contenteditable="true"
																			th:text="${row.unit}">Unit</td>
																		<td data-col="dbkSno" contenteditable="true"
																			th:text="${row.dbkSno}">DBK SNO</td>

																		<!-- J: FOB Value -->
																		<td class="text-end" data-col="fob"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.fobValue, 2, 'COMMA', 2, 'POINT')}">
																			FOB</td>

																		<!-- K: PMV Value -->
																		<td class="text-end" data-col="pmv"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.pmvValue, 2, 'COMMA', 2, 'POINT')}">
																			PMV</td>

																		<!-- L: Imp Quantity -->
																		<td class="text-end" data-col="impQty"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.importQuantity, 2, 'COMMA', 2, 'POINT')}">
																			Imp Qty</td>

																		<!-- M: Consumption per Export Qty -->
																		<td class="text-end" data-col="consumption"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.consumptionPerExportQty, 6, 'COMMA', 6, 'POINT')}">
																			Consumption</td>

																		<!-- N: Total Duty -->
																		<td class="text-end" data-col="totalDuty"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.totalDuty, 2, 'COMMA', 2, 'POINT')}">
																			Total Duty</td>

																		<!-- O: Total CIF -->
																		<td class="text-end" data-col="totalCif"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.totalCifValue, 2, 'COMMA', 2, 'POINT')}">
																			Total CIF</td>

																		<!-- P: DBK Amt (computed) -->
																		<td class="text-end" data-col="dbkAmt"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.dbkAmount, 2, 'COMMA', 2, 'POINT')}">
																			DBK Amt</td>

																		<!-- Q: CIF Value (computed) -->
																		<td class="text-end" data-col="cifValue"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.cifValue, 2, 'COMMA', 2, 'POINT')}">
																			CIF Value</td>

																		<!-- R: AIR Rate -->
																		<td class="text-end" data-col="airRate"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.airRate, 4, 'COMMA', 4, 'POINT')}">
																			AIR Rate</td>

																		<!-- S: Air Amount -->
																		<td class="text-end" data-col="airAmount"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.airAmount, 2, 'COMMA', 2, 'POINT')}">
																			Air Amount</td>

																		<!-- T: SBR (computed) -->
																		<td class="text-end" data-col="sbr"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.sbr, 6, 'COMMA', 6, 'POINT')}">
																			SBR</td>

																		<!-- U: 4/5 of BRoD (computed) -->
																		<td class="text-end" data-col="brodFourFifth"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.fourFifthOfBrodMainClaim, 2, 'COMMA', 2, 'POINT')}">
																			4/5 BRoD</td>

																		<!-- V: Diff BRoD - AIR (computed) -->
																		<td class="text-end" data-col="diffBrodAir"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.diffBrodAndAir, 2, 'COMMA', 2, 'POINT')}">
																			Diff</td>

																		<!-- W: Value Addition (computed % or amount as your formula) -->
																		<td class="text-end" data-col="valueAddition"
																			contenteditable="true"
																			th:text="${#numbers.formatDecimal(row.valueAddition, 2, 'COMMA', 2, 'POINT')}">
																			Value Addition</td>
																	</tr>

																</tbody>
															</table>
														</div>

													</div>


													<!-- Pagination controls -->


													<div class="text-center">

														<button type="button"
															class="btn btn-info waves-effect waves-light m-r-5 m-b-5"
															style="width: 150px;"> <i
																class="bi bi-file-earmark-excel"></i> Save
														</button>


													</div>




												</div>

											</div>
										</div>
										<!-- tab content end -->

									</div>
								</div>

							</div>


						</div>
					</div>
					<!--<div id="styleSelector">-->

					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="fixed-button">
		<a th:href="@{/index}" class="btn btn-primary" aria-hidden="true">Home</a>
	</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {

			// helper: parse number from cell text (handles commas). returns BigDecimal-like JS Number
			function parseNum(str) {
				if (str === null || str === undefined) return 0;
				const s = String(str).trim().replace(/,/g, '');
				if (s === '' || s === '-') return 0;
				const n = Number(s);
				return isNaN(n) ? 0 : n;
			}

			// helper: format number for display (2 decimals default, allow customizing)
			function fmt(n) {
				if (n === null || n === undefined) n = 0;
				return Number(n).toLocaleString(undefined, {
					minimumFractionDigits: 2,
					maximumFractionDigits: 2
				});
			}


			// compute per row using your formulas
			function recomputeRow(tr) {
				// find cells by data-col
				const get = (name) => tr.querySelector('[data-col="' + name + '"]');

				const cellJ = get('fob');     // J
				const cellL = get('impQty');  // L
				const cellM = get('consumption'); // M
				const cellN = get('totalDuty');   // N
				const cellO = get('totalCif');    // O
				const cellP = get('dbkAmt');      // P (computed)
				const cellQ = get('cifValue');    // Q (computed)
				const cellS = get('airAmount');   // S
				const cellT = get('sbr');         // T (computed per requested formula)
				const cellU = get('brodFourFifth');
				const cellV = get('diffBrodAir');
				const cellW = get('valueAddition');

				// read numeric values (raw)
				const J = parseNum(cellJ.textContent || cellJ.dataset.value);
				const L = parseNum(cellL.textContent || cellL.dataset.value);
				const M = parseNum(cellM.textContent || cellM.dataset.value);
				const N = parseNum(cellN.textContent || cellN.dataset.value);
				const O = parseNum(cellO.textContent || cellO.dataset.value);
				const S = parseNum(cellS.textContent || cellS.dataset.value);

				// compute P = (N / L) * M
				let Pval = 0;
				if (L !== 0) Pval = (N / L) * M;

				// compute Q = (O / L) * M
				let Qval = 0;
				if (L !== 0) Qval = (O / L) * M;

				// T = P - S
				let Tval = Pval - S;

				// U = P * 4/5
				let Uval = Pval * 0.8;

				// V = U - S
				let Vval = Uval - S;

				// W = (J - Q) / Q * 100  (guard Q != 0)
				let Wval = 0;
				if (Qval !== 0) Wval = ((J - Qval) / Qval) * 100;

				// write back (update both data-value and displayed text formatted)
				const write = (cell, value, decimals = 2) => {
					if (!cell) return;
					cell.dataset.value = String(value ?? 0);
					cell.textContent = fmt(value ?? 0, decimals);
				};

				write(cellP, Pval);
				write(cellQ, Qval);
				write(cellT, Tval);
				write(cellU, Uval);
				write(cellV, Vval);
				write(cellW, Wval);

			}

			// initialize: set data-value from the current text of all rows
			function initRowData(tr) {
				tr.querySelectorAll('td[data-col]').forEach(td => {
					// store raw numeric if td looks numeric; else keep text also in data-value
					const txt = td.textContent.trim();
					const num = parseNum(txt);
					// If the original text has non-digit characters (letters) we still store text and number 0
					td.dataset.value = String(num);
					// keep formatted text as-is (don't change)
				});

				// compute derived columns for initial display
				recomputeRow(tr);
			}

			// wire events: when any contenteditable cell changes, recompute the row
			function wireRowListeners(tr) {
				tr.querySelectorAll('td[data-col]').forEach(td => {
					// ignore SL NO cell as it has no data-col; all td with data-col are editable here
					// listen to 'input' (for contentEditable) and 'blur' (user finished)
					td.addEventListener('input', function () {
						// update dataset value for the edited cell
						const v = this.textContent.trim();
						this.dataset.value = String(parseNum(v));
						recomputeRow(tr);
					});

					// optional: format on blur
					td.addEventListener('blur', function () {
						// if this is a numeric column, reformat display to 2 decimals / 6 decimals for consumption
						const col = this.dataset.col;
						const val = parseNum(this.dataset.value);
						if (col === 'consumption') {
							this.textContent = fmt(val, 6);
						} else if (['quantity'].includes(col)) {
							this.textContent = fmt(val, 2);
						} else {
							this.textContent = fmt(val, 2);
						}
					});
				});
			}

			// apply to all rows
			const rows = Array.from(document.querySelectorAll('#calculationTable tbody tr'))
				.filter(tr => tr.querySelector('[data-col]')); // skip "no records" row
			rows.forEach(tr => {initRowData(tr); wireRowListeners(tr);});

			// convenience: recalc all
			window.recomputeAllCalculationRows = function () {
				document.querySelectorAll('#calculationTable tbody tr').forEach(tr => {
					if (tr.querySelector('[data-col]')) recomputeRow(tr);
				});
			};

		});
	</script>


	<script>
		function updateInputType() {
			var field = document.getElementById('filterField').value;
			var input = document.getElementById('filterValue');
			if (field === 'sbDateFrom' || field === 'sbDateTo') {
				input.type = 'date';
				input.placeholder = '';
			} else {
				input.type = 'text';
				input.placeholder = 'Value';
			}
		}
		// Optionally, call on page load if preselected
		document.addEventListener("DOMContentLoaded", function () {
			updateInputType();
		});
	</script>





	<script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/tether/dist/js/tether.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript" src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- modernizr js -->
	<script type="text/javascript" src="/assets/plugins/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
	<!-- Bootstrap date-time-picker js -->
	<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
	<!--<script type="text/javascript" src="assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>-->
	<!-- Custom js -->
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="/assets/pages/user-profile.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/demo-12.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/jquery.mousewheel.min.js"></script>


</body>

</html>